<div data-role="page" id="show-order">

  <div data-role="header" data-position="fixed">
    <h1><%= @order.restaurant_table.caption %></h1>



    <div data-role="navbar">
      <ul>
        <li><%= link_to "Alle Tische", :showAllOrders, { "data-role" => "button", "data-inline" => "true", "data-icon" => "arrow-l" }  %></li>
        <li><%= link_to "Bezahlen", {:controller => "frontend", :action => "checkout", :order_id => @order.id}, { "data-role" => "button", "data-inline" => "true", "data-icon" => "check" }  %></li>
        <li> <%= link_to "Neu", {:controller => "add_order_item_workflow", :action => "deliverMultiplePage", :order_id => @order.id}, { "data-ajax" => "false", "data-role" => "button", "data-inline" => "true", "data-icon" => "plus" } %></li>
      </ul>
    </div><!-- /navbar -->
  </div>

  <div data-role="content">

    <ul data-role="listview">
      <% @order_items_grouped_by_categories.sort.each do |category, order_items| %>
          <li data-role="list-divider"><%= category.caption %></li>
          <% for order_item in order_items %>
              <li>
                <div>
              <span>
                <%= link_to "Neu", {:controller => "frontend", :action => "decreaseOrderItemQuantity", :order_item_id => order_item.id}, {"data-role" => "button", "data-inline" => "true", "data-icon" => "minus", "data-iconpos" => "notext"} %>
                <span data-inline="true"><%= "#{order_item.quantity}x" %></span>
                <%= link_to "Neu", {:controller => "frontend", :action => "increaseOrderItemQuantity", :order_item_id => order_item.id}, {"data-role" => "button", "data-inline" => "true", "data-icon" => "plus", "data-iconpos" => "notext"} %>
              </span>
                  <%= "Nr. #{order_item.product.number} - #{order_item.product.caption}" %>
                </div>
              </li>
          <% end %>
      <% end %>
    </ul>

  </div>

  <div data-theme="a" data-role="footer" data-position="fixed" data-id="footer">

  </div>
</div>



