<div data-role="page" id="select-category">

  <div data-role="header" data-position="fixed">
    <%= link_to "Zurück", url_for(:controller => "frontend", :action => "showOrder", :order_id => @orderId) %>
    <h2>Kategorie wählen:</h2>
  </div>


  <div data-role="content">

    <div class="ui-grid-a">
      <% @categories.in_groups_of(2).each do |groupOfCategories| %>

          <% unless groupOfCategories[0].nil? then %>
              <div class="ui-block-a">
              <a href="<%= url_for(:controller => "add_order_item_workflow", :action => "receiveSelectedCategory", :selectedCategory => "#{groupOfCategories[0].id}", :order_id => @orderId) %>" data-role="button">
                <%= groupOfCategories[0].caption %>

              </a>
              </div>
          <% else %>
              <div class="ui-block-a">
              </div>
          <% end %>

          <% unless groupOfCategories[1].nil? then %>
              <div class="ui-block-b">
              <a href="<%= url_for(:controller => "add_order_item_workflow", :action => "receiveSelectedCategory", :selectedCategory => "#{groupOfCategories[1].id}", :order_id => @orderId) %>" data-role="button">
                <%= groupOfCategories[1].caption %>
              </a>
              </div>
           <% else %>
              <div class="ui-block-b">
              </div>

          <% end %>


      <% end %>

    </div>
  </div>
</div>

