<div data-role="page" id="selectTable">

  <div data-role="header" data-position="fixed">
    <div class="header-box"><h2>Kategorie wählen:</h2></div>
  </div>


  <div data-role="content">


    <div class="ui-grid-b">
      <% @categories.in_groups_of(3).each do |groupOfCategories| %>

          <% unless groupOfCategories[0].nil? then %>
              <a href=<%= url_for(:controller => "add_order_item_workflow", :action => "receiveSelectedCategory", :selectedCategory => "#{groupOfCategories[0].id}") %>>
                <div class="ui-block-a">
                  <div class="category-box">
                    <div class="category-caption-text category-div">
                      <%= groupOfCategories[0].caption %>
                    </div>
                  </div>
                </div>
              </a>
          <% else %>
              <div class="ui-block-a">
              </div>
          <% end %>

          <% unless groupOfCategories[1].nil? then %>
              <a href=<%= url_for(:controller => "add_order_item_workflow", :action => "receiveSelectedCategory", :selectedCategory => "#{groupOfCategories[1].id}") %>>
                <div class="ui-block-b">
                  <div class="category-box">
                    <div class="category-caption-text category-div">
                      <%= groupOfCategories[1].caption %>
                    </div>
                  </div>
                </div>
              </a>
          <% else %>
              <div class="ui-block-b">
              </div>
          <% end %>

          <% unless groupOfCategories[2].nil? then %>
              <a href=<%= url_for(:controller => "add_order_item_workflow", :action => "receiveSelectedCategory", :selectedCategory => "#{groupOfCategories[2].id}") %>>
                <div class="ui-block-c">
                  <div class="category-box">
                    <div class="category-caption-text category-div">
                      <%= groupOfCategories[2].caption %>
                    </div>
                  </div>
                </div>
              </a>
          <% else %>
              <div class="ui-block-c">
              </div>
          <% end %>


      <% end %>

    </div>
  </div>
</div>

