<div data-role="content">
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :caption %><br />
      <%= f.text_field :caption %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_area :price %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
